.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      %center
        %h4=@article.name
    .panel-body
      %table.table
        %tr
          %td
            %strong
              Name:
          %td
            = @article.name
        %tr
          %td
            %strong
              Description:
          %td
            = @article.description
        %tr
          %td
            %strong
              Price:
          %td
            = @article.price
        %tr
          %td
            %strong
              Total in vault:
          %td
            = @article.total_in_vault
        %tr
          %td
            %strong
              Total in shelf:
          %td
            = @article.total_in_shelf
        %tr
          %td
            %strong
              Store:
          %td
            = @article.store_id

  %center
    = link_to 'Edit', edit_article_path(@article), class:'btn'
    |
    = link_to 'Back', articles_path, class:'btn'