= simple_form_for(@store) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address

  .form-actions
    = f.submit class: 'btn btn-lg btn-success btn-block', disable_with: 'Processing...'
